﻿@{
    ViewBag.Title = "About";
}


<div class="container" style="padding-top:25px;">
    <div class="col-md-8">
        <div>
            <center><div><p><h3>Kadromuz</h3></p></div></center>
            <div>
                <div class="col-md-4">
                    <img src="http://placehold.it/135x135">
                </div>
                <div class="col-md-8">
                    <p>  Folly words widow one downs few age every seven. If miss part by fact he park just shew. Discovered had get considered projection who favourable. Necessary up knowledge it tolerably. Unwilling departure education is be dashwoods or an. Use off agreeable law unwilling sir deficient curiosity instantly. Easy mind life fact with see has bore ten. Parish any chatty can elinor direct for former. Up as meant widow equal an share least.
                    </p>
                </div>
            </div>
            <div style="margin-top:8px;">
                <div class="col-md-4">
                    <img src="http://placehold.it/135x135">
                </div>
                <div class="col-md-8">
                    <span>
                        Folly words widow one downs few age every seven. If miss part by fact he park just shew. Discovered had get considered projection who favourable. Necessary up knowledge it tolerably. Unwilling departure education is be dashwoods or an. Use off agreeable law unwilling sir deficient curiosity instantly. Easy mind life fact with see has bore ten. Parish any chatty can elinor direct for former. Up as meant widow equal an share least.
                    </span>
                </div>
            </div>
         </div>
        <div style="padding-top:25px;">
            <div class="col-md-6">
                <center><div><p><h3>Amacımız</h3></p></div></center>
                 <div><center><p>Folly words widow one downs few age every seven. If miss part by fact he park just shew. Discovered had get considered projection who favourable. Necessary up knowledge it tolerably. Unwilling departure education is be dashwoods or an. Use off agreeable law unwilling sir deficient curiosity instantly. Easy mind life fact with see has bore ten. Parish any chatty can elinor direct for former. Up as meant widow equal an share least.
</p></center></div>
           </div>
            <div class="col-md-6">
                <center><div><p><h3>Hamza Spor Klubü</h3></p></div></center>
                <div><center><p>Folly words widow one downs few age every seven. If miss part by fact he park just shew. Discovered had get considered projection who favourable. Necessary up knowledge it tolerably. Unwilling departure education is be dashwoods or an. Use off agreeable law unwilling sir deficient curiosity instantly. Easy mind life fact with see has bore ten. Parish any chatty can elinor direct for former. Up as meant widow equal an share least.
</p></center></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    <div style="height:300px;padding-bottom:25px;">
        <button onclick="location.href='@Url.Action("About", "Home")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Hakkımızda</button>
        <button onclick="location.href='@Url.Action("Duyurular", "yanSayfalar")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Duyurular</button>
        <button onclick="location.href='@Url.Action("Galeri", "yanSayfalar")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Galeri</button>
        <button onclick="location.href='@Url.Action("Urunler", "yanSayfalar")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Ürünlerimiz</button>
        <button onclick="location.href='@Url.Action("dersSaatlerimiz", "yanSayfalar")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Ders Saatlerimiz</button>
        <button onclick="location.href='@Url.Action("About", "Home")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Abi bana basma</button>
        <button onclick="location.href='@Url.Action("Contact", "Home")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">İletişim</button>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">En Popüler Başlıklar</h3>
        </div>
        <div class="panel-body" style="height:250px;">
            Panel content
        </div>
    </div>
</div>
 </div>



@*

    <div class="col-md-8">
            <div>
                <div class="col-md-3">
                    <img src="http://placehold.it/100x100">
                </div>
                <div class="col-md-9">
                    A conventional luxury legitimizes a twisted memory. An about ballet silences the scroll above the continuous love. A taxpayer objects after the latest participant. The pulled gasp participates within its crew.
                </div>
             </div>
            <div style="margin-top:25px;">
                <div class="col-md-3" >
                    <img src="http://placehold.it/100x100">
                </div>
                <div class="col-md-9" style="margin-top:25px;">
                    Folly words widow one downs few age every seven. If miss part by fact he park just shew. Discovered had get considered projection who favourable. Necessary up knowledge it tolerably. Unwilling departure education is be dashwoods or an. Use off agreeable law unwilling sir deficient curiosity instantly. Easy mind life fact with see has bore ten. Parish any chatty can elinor direct for former. Up as meant widow equal an share least.
                </div>
            </div>
            <div style="padding-top:25px;">
                <div class="col-md-6">
                    <img src="..." alt="..." class="img-rounded"> A conventional luxury legitimizes a twisted memory. An about ballet silences the scroll above the continuous love. A taxpayer objects after the latest participant. The pulled gasp participates within its crew.
                </div>
                <div class="col-md-6">
                    <img src="..." alt="..." class="img-rounded"> A conventional luxury legitimizes a twisted memory. An about ballet silences the scroll above the continuous love. A taxpayer objects after the latest participant. The pulled gasp participates within its crew.
                </div>
            </div>
        </div>*@