﻿@{
    ViewBag.Title = "Contact";
}

<div class="container" style="padding-top:25px;">
    <div class="col-md-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48354.945253627295!2d30.3460709101021!3d40.757975889947176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccb2d6474f0495%3A0xad7ef45ed4d7bac2!2zNDDCsDQ2JzMyLjAiTiAzMMKwMjMnMTcuNCJF!5e0!3m2!1str!2str!4v1481657294378" width="325" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">İletişim</h3>
            </div>
            <div class="panel-body">
                Mahşer Mahallesi, Sibob Caddesi, Yıldırım Sokak, No:14, Sakarya - Adapazarı
                <br /> <br />
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+90534 474 82 49
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>hamzaspor@gmail.com
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Bize Mesaj Gönderin</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <label for="form-control">Mesajınız</label>
                    <textarea class="form-control" rows="3"></textarea>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div  style="height:300px;padding-bottom:25px;">
            <button onclick="location.href='@Url.Action("About", "Home")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Hakkımızda</button>
            <button onclick="location.href='@Url.Action("Duyurular", "yanSayfalar")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Duyurular</button>
            <button onclick="location.href='@Url.Action("Galeri", "yanSayfalar")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Galeri</button>
            <button onclick="location.href='@Url.Action("Urunler", "yanSayfalar")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Ürünlerimiz</button>
            <button onclick="location.href='@Url.Action("dersSaatlerimiz", "yanSayfalar")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Ders Saatlerimiz</button>
            <button onclick="location.href='@Url.Action("Login", "Account")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Üyelik İşlemleri</button>
            <button onclick="location.href='@Url.Action("Contact", "Home")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">İletişim</button>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">En Popüler Başlıklar</h3>
            </div>
            <div class="panel-body" style="height:250px;">
                Panel content
            </div>
        </div>
    </div>
</div>