﻿@model PagedList.IPagedList<HamzaProje.Models.Duyurular>

@{
    ViewBag.Title = "Home Page";
}

<div class="container" style="padding-top:25px;">
    <div class="col-md-8">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height:100%;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="https://newevolutiondesigns.com/images/freebies/retro-wallpaper-35.jpg" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="http://www.pixelstalk.net/wp-content/uploads/2016/04/Images-free-abstract-minimalist-wallpaper-HD.jpg" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>

    <div class="col-md-4" style="height:300px;">
        
        <button onclick="location.href='@Url.Action("About", "Home")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Hakkımızda</button>
        <button onclick="location.href='@Url.Action("Duyurular", "yanSayfalar")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Duyurular</button>
        <button onclick="location.href='@Url.Action("Galeri", "yanSayfalar")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Galeri</button>
        <button onclick="location.href='@Url.Action("Urunler", "yanSayfalar")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Ürünlerimiz</button>
        <button onclick="location.href='@Url.Action("dersSaatlerimiz", "yanSayfalar")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Ders Saatlerimiz</button>
        <button onclick="location.href='@Url.Action("Login", "Account")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Üyelik İşlemleri</button>
        <button onclick="location.href='@Url.Action("Contact", "Home")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">İletişim</button>
    </div>
</div>
<div class="container" style="padding-top:25px;">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Duyurular</h3>
            </div>
            <div class="panel-body" style="height:250px;">
                @foreach (var item in Model)
                {
                <div>
                    @Html.DisplayFor(modelItem => item.Baslik)
                </div>
                }
                <button onclick="location.href='@Url.Action("Duyurular", "yanSayfalar")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Duyurular</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Haberler</h3>
            </div>
            <div class="panel-body" style="height:250px;">
                <div style="margin-top:4px;" class="row">
                    <div class="col-md-4">
                        <img src="http://placehold.it/60x60">
                    </div>
                    <div class="col-md-8">
                        <span>
                            Folly words widow overed had get considered projection who favourable.                    
                        </span>
                    </div>
                </div>
                <div style="margin-top:4px;" class="row">
                    <div class="col-md-4">
                        <img src="http://placehold.it/60x60">
                    </div>
                    <div class="col-md-8">
                        <span>
                            Folly words widow overed had get considered projection who favourable.
                        </span>
                    </div>
                </div>
                <div style="margin-top:4px;" class="row">
                    <div class="col-md-4">
                        <img src="http://placehold.it/60x60">
                    </div>
                    <div class="col-md-8">
                        <span>
                            Folly words widow overed had get considered projection who favourable. 
                        </span>
                    </div>
                </div>
                <button onclick="location.href='@Url.Action("Haberler", "yanSayfalar")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Haberler</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">En Popüler Başlıklar</h3>
            </div>
            <div class="panel-body" style="height:250px;">
                Panel content
            </div>
        </div>
    </div>
</div>