﻿@model HamzaProje.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="container" style="margin-top:25px;">
    <div class="col-md-4">
        
    @*Profil fotoğrafı, adı soyadı*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Profil</h3>
            </div>
            <div class="panel-body">
                <div class="row" style="margin-top:8px;">
                    <div class="col-md-8">
                        <img src="http://placehold.it/175x235">
                    </div>
                    <div class="col-md-4">
                        <div>
                            <h4>Adınız:</h4>
                            <br /><br />
                        </div>
                        <div>
                            <h4>Soyadınız:</h4>
                            <br /><br />
                        </div>
                        <div>
                            <h4>Bakiyeniz:</h4>
                        </div>
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>      
    @*Satın aldığımız ürünler alt alta solda fotoğraf olacak şekilde*@
        <div class="panel panel-default" style="margin-top:35px;">
            <div class="panel-heading">
                <h3 class="panel-title">Satın Aldığınız Ürünler</h3>
            </div>
            <div class="panel-body">
                @*Satın alınan ürünler*@
                <div class="row" style="margin-top:8px;">
                    <div>
                        <div class="col-md-4">
                            <img src="http://placehold.it/75x75x">
                        </div>
                        <div class="col-md-8">
                            <span>
                                akospd koapSdkasopd kaospkdect for former. Up as meant widow equal an share least.
                            </span>
                        </div>
                    </div>
                    <div style="margin-top:8px;">
                        <div class="col-md-4">
                            <img src="http://placehold.it/75x75">
                        </div>
                        <div class="col-md-8">
                            <span>
                                akospd koapSdkasopd kaospkdect for former. Up as meant widow equal an share least.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>         
        
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Bilgileriniz Güncelleyin</h3>
            </div>
            <div class="panel-body">
                @*buraya denedik bilgi güncellemeyi ama*@
                <form>
                    <div class="form-group">
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <label for="form-control">Mesajınız</label>
                    <textarea class="form-control" rows="3"></textarea>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
            @*mesaj kutusu*@
        <div class="panel panel-default" style="margin-top:31px">
            <div class="panel-heading">
                <h3 class="panel-title">Mesaj Kutusu</h3>
            </div>
            <div class="panel-body">
                @*Mesajlar*@
                <div style="margin-top:8px;">
                    <div>
                        <div class="col-md-4">
                            <img src="http://placehold.it/75x75">
                        </div>
                        <div class="col-md-8">
                            <span>
                                akospd koapSdkasopd kaospkdect for former. Up as meant widow equal an share least.
                            </span>
                        </div>
                    </div>
                    <div style="margin-top:8px;">
                        <div class="col-md-4">
                            <img src="http://placehold.it/75x75">
                        </div>
                        <div class="col-md-8">
                            <span>
                                akospd koapSdkasopd kaospkdect for former. Up as meant widow equal an share least.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-md-4">
        <div style="height:300px;padding-bottom:25px;">
            <button type="button" class="btn btn-default" style="width:100%;height:14.28%;">Hakkımızda</button>
            <button type="button" class="btn btn-default" style="width:100%;height:14.28%;">Duyurular</button>
            <button type="button" class="btn btn-default" style="width:100%;height:14.28%;">Galeri</button>
            <button type="button" class="btn btn-default" style="width:100%;height:14.28%;">Ürünlerimiz</button>
            <button type="button" class="btn btn-default" style="width:100%;height:14.28%;">Ders Saatlerimiz</button>
            <button type="button" class="btn btn-default" style="width:100%;height:14.28%;">Üyelik İşlemleri</button>
            <button type="button" class="btn btn-default" style="width:100%;height:14.28%;">İletişim</button>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">En Popüler Başlıklar</h3>
            </div>
            <div class="panel-body" style="height:250px;">
                Panel content
            </div>
        </div>
    </div>
</div>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
        </dd>
    </dl>
</div>
