﻿@model IEnumerable<HamzaProje.Models.Haberler>

@{
    ViewBag.Title = "Haberler";
}

<h2>Haberler</h2>

<p>
    @Html.ActionLink("Yeni Haberler Girin", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Baslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.icerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resim)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.HaberlerID }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.HaberlerID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.HaberlerID })
        </td>
    </tr>
}

</table>
