﻿@model IEnumerable<HamzaProje.Models.Duyurular>

@{
    ViewBag.Title = "Duyurular";
}

<h2>Duyurular</h2>

<p>
    @Html.ActionLink("Yeni Duyuru Girin", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Baslik)  
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.icerik)
        </td>
        <td>
            <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(Model.Resim )" />
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.DuyurularID }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.DuyurularID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.DuyurularID })
        </td>
    </tr>
}

</table>
