﻿
@{
    ViewBag.Title = "Galeri";
}

<div class="container" style="padding-top:25px;">
    <div class="col-md-8">
        <div>
            <div class="col-md-4">
                <img src="http://placehold.it/150x150">
            </div>
            <div class="col-md-4">
                <img src="http://placehold.it/150x150">
            </div>
            <div class="col-md-4">
                <img src="http://placehold.it/150x150">
            </div>
        </div>
        <div>
            <div class="col-md-4" style="margin-top:6px;">
                <img src="http://placehold.it/150x150">
            </div>
            <div class="col-md-4" style="margin-top:6px;">
                <img src="http://placehold.it/150x150">
            </div>
            <div class="col-md-4" style="margin-top:6px;">
                <img src="http://placehold.it/150x150">
            </div>
        </div>
        <div>
            <div class="col-md-4" style="margin-top:6px;">
                <img src="http://placehold.it/150x150">
            </div>
            <div class="col-md-4" style="margin-top:6px;">
                <img src="http://placehold.it/150x150">
            </div>
            <div class="col-md-4" style="margin-top:6px;">
                <img src="http://placehold.it/150x150">
            </div>
        </div> 
        <div >
            <div class="col-md-6"style="margin-top:8px;">
                <button type="button" class="btn btn-default" style="width:100%;height:14.28%;">Önceki</button>
            </div>
            <div class="col-md-6"style="margin-top:8px;">
                <button type="button" class="btn btn-default" style="width:100%;height:14.28%;">Sonraki</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div style="height:300px;padding-bottom:25px;">
            <button onclick="location.href='@Url.Action("About", "Home")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Hakkımızda</button>
            <button onclick="location.href='@Url.Action("Duyurular", "yanSayfalar")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Duyurular</button>
            <button onclick="location.href='@Url.Action("Galeri", "yanSayfalar")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Galeri</button>
            <button onclick="location.href='@Url.Action("Urunler", "yanSayfalar")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Ürünlerimiz</button>
            <button onclick="location.href='@Url.Action("dersSaatlerimiz", "yanSayfalar")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Ders Saatlerimiz</button>
            <button onclick="location.href='@Url.Action("Login", "Account")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">Üyelik İşlemleri</button>
            <button onclick="location.href='@Url.Action("Contact", "Home")';return false;" type="button" class="btn btn-default" style="width:100%;height:14.28%;">İletişim</button>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">En Popüler Başlıklar</h3>
            </div>
            <div class="panel-body" style="height:250px;">
                Panel content
            </div>
        </div>
    </div>
</div>